{% extends 'base.html' %}

{% block title %}IToI{% endblock %}

{% block bodyhtml %}
<div>
	<form action="{{ url_for('dashboard') }}" method="post">
		{{ form.csrf_token }}
            <h3>{{message}}</h3>
		<table>
		<tr>
            <h4>Enter Details:</h4>
            </tr>
            <tr>
            	<td>{{ form.userID.label }}</td>
            	<td>{{ form.userID }}</td>
            </tr>
            <tr>
            	<td>{{ form.pswd.label }}</td>
            	<td>{{ form.pswd }}</td>
            </tr>
            <tr>
                  <td>{{ form.key.label }}</td>
                  <td>{{ form.key }}</td>
            </tr>
		</table>
		<input type="submit" value="Submit">
            <br>
            <br>
            <h2><a href="{{ url_for('signup') }}">Need an Account? Register Here!</a></h2>
	</form>
</div>
{% endblock %}