{% extends 'base.html' %}

{% block title %}iToi{% endblock %}

{% block bodyhtml %}
<div>
	<form action="{{ url_for('login') }}" method="post">
		{{ form.csrf_token }}
            <h3>{{message}}</h3>
		<table>
			<tr>
            <h2>Register</h2>
            </tr>
            <tr>
            	<td>{{ form.mngrID.label }}</td>
            	<td>{{ form.mngrID }}</td>
            </tr>
            <tr>
            	<td>{{ form.pswd.label }}</td>
            	<td>{{ form.pswd }}</td>
            </tr>
            <tr>
                  <td>{{ form.cpswd.label }}</td>
                  <td>{{ form.cpswd }}</td>
            </tr>
            <tr>
            	<td>{{ form.emailID.label }}</td>
            	<td>{{ form.emailID }}</td>
            </tr>
            <tr>
                  <td>{{ form.key.label }}</td>
                  <td>{{ form.key }}</td>
            </tr>
		</table>
		<input type="submit" value="Submit">
	</form>
</div>
{% endblock %}